body {
    background-color: aquamarine;

}

#myBox {
    width: 120px;
    height: 20px;
    padding: 10px;
    margin: 10px;
}
img {
    width: 200px;
    height: 200px;
}

#myButton{
    margin-top: 10px;
   font-size: 3rem;
}
#btn {
    nav-right:current;
}
