body {
    background-color: rgb(217, 221, 220);

}

#myBox {
    width: 120px;
    height: 20px;
    padding: 10px;
    margin: 10px;
}
img {
    width: 200px;
    height: 200px;
}

#myButton{
    margin-top: 10px;
   font-size: 3rem;
}
#btn {
    nav-right:current;
}
.art-item {
    display: none; /* Hidden by default */
    transition: all 0.3s ease-in-out;
  }
  .custom-border {
    border: 2px solid #ddd; /* Light gray border */
    box-shadow: 12px 12px 15px rgb(56, 157, 157);
    border-radius: 5px; /* Rounded corners */
    margin-right: 2px;
     width: 150px;
      height: 150px;
}

